:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

/* header */
.header {
    margin-top: 20px;
}
.header a {
    color: #272142;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

.header li {
    list-style: none;
    margin-right: 16px;
}

li.selected a {
    color: var(--branding-color);
}

.logo {
    max-height: 40px;
}

/* homepage */
.introduction {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.introduction p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.introduction h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.button-style {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    text-align: center;
}

.project-desciption {
    padding: 120px 60px;
}

.text-muted {
    color: #6c757d !important;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

/* about page */
.about-section {
    padding: 160px 20px;
}

.about-section-content {
    padding: 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* work page */
.content-container {
    padding: 160px 20px;
}

.content {
    margin: 30px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
    margin: 0;
    font-weight: bold !important;
}

.content p {
    font-size: 14px;
}

/* contact page */
a {
    color: #0d6efd;
    text-decoration: underline;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content-container h3 {
    margin-bottom: 0.5rem;
}

.content p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* footer */
footer {
    margin: 60px 0;
}

.footer-container{
    margin-top: 25px;
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.btn:hover {
    color: #212529;
}

a:hover {
    color: #0a58ca;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (max-width: 500px) {
    body {
        text-align: center;
    }
    h1{
        font-size: 64px;
    }
    h2{
        font-size: 55px;
    }
}